# HR - People Analytics Project (2nd Analysis)

### Solving HR Analytics and gathering information from the data.
<p>The data is from Kaggle:</p> 
<p><u>User:</u> <i>PAVANSUBHASH</i></p>
<p><u>Title:</u> <i>IBM HR Analytics Employee Attrition & Performance</i></p>
<u>Link:</u> https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

<p>This second analysis is to continue practicing my analytical skills using my knowledge in <b><i>Python, Excel, and Power BI</i></b>. Machine learning techniques will be applied where possible.</p>

<p>The data is separated into three databases, each corresponding to the years <i>2021, 2022, and 2023</i>. I will analyze the data to visualize <u>how the KPIs change with the years passing by</u>. Because I only have one-year data, I decided to simulate the other years. It is interesting to see the results I will obtain. The importance of this analysis is to continue practicing skills in data analysis, especially when we need to compare metrics across different years.</p>

<p>I will work with the following files: 
<ul>
    <li>
        <b><i>'imb_analytics_2021.xlsx'</i></b>
    </li>
    <li>
        <b><i>'imb_analytics_2022.xlsx'</i></b>
    </li>
    <li>
        <b><i>'imb_analytics_2023.xlsx'</i></b>
    </li>
</ul>
</p>

<p>I will analyze 'Diversity', 'Job Satisfaction', 'Attrition', and more to see how they all changed through the years.</p>

### 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# This is to ignore warnings. Was a recommendation from my friend Manuel Angel Rodriguez Rodriguez
import warnings
warnings.filterwarnings('ignore')

### 2. Importing our data file

<p>Let's import our files <b><i>'imb_analytics_2021.xlsx'</i></b>, <b><i>'imb_analytics_2022.xlsx'</i></b>, and <b><i>'imb_analytics_2023.xlsx'</i></b> to work with them. These are .xlsx files. First, I will merge the files into one database. Then I will generate the ID for each record and I will separate the data for each analysis.</p>

<p>Merging the data by using <b>os.path.join</b></p>

In [2]:
# We create a list with all the files
filesList = [ file for file in os.listdir('../hr_panalytics/files/')]

# Checking if filesList works correctly
for file in filesList:
    print(file)

imb_analytics_2021.xlsx
imb_analytics_2022.xlsx
imb_analytics_2023.xlsx

<p>Let's create our dataframe with all the data merged into one file</p>

In [3]:
# First lets create our DataFrame
merged_hr_df = pd.DataFrame()

# Now we loop trough filesList
for file in filesList:
    df = pd.read_excel('../hr_panalytics/files/'+file)
    merged_hr_df = pd.concat([merged_hr_df, df])
    
# checking if the data merge correctly
merged_hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 0 to 1469
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4410 non-null   int64
 1   ID                       4410 non-null   object
 2   Age                      4410 non-null   int64
 3   AgeRange                 4410 non-null   object
 4   Attrition                4410 non-null   object
 5   Department               4410 non-null   object
 6   DistanceFromHome         4410 non-null   int64
 7   Education                4410 non-null   object
 8   EducationField           4410 non-null   object
 9   EnvironmentSatisfaction  4410 non-null   object
 10  Gender                   4410 non-null   object
 11  HourlyRate               4410 non-null   int64
 12  JobInvolvement           4410 non-null   object
 13  JobLevel                 1470 non-null   float64
 14  JobRole                  4410 non-null   object
 15  JobSatisfaction          4410 non-null   object
 16  MonthlyIncome            4410 non-null   int64
 17  MonthlyRate              4410 non-null   int64
 18  OverTime                 4410 non-null   object
 19  TotalWorkingYears        4410 non-null   int64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  WorkLifeBalance          4410 non-null   object
 22  YearsAtCompany           4410 non-null   int64
 23  YearsInCurrentRole       4410 non-null   int64
 24  YearsSinceLastPromotion  4410 non-null   int64
dtypes: float64(1), int64(11), object(13)
memory usage: 895.8+ KB

##### 3 Creating an new ID's

<p>I will use the same type of <u>two letter code</u> for the 'Department' and a <u>four random number</u> combination, to create new ID for each employee.</p>

In [4]:
# First, I will reset the index of merged_hr_df to storage the new values into the ID column
merged_hr_df.reset_index(drop=True, inplace=True)

# Function to create the code values for the departments
def departments_code(departments):
    if 'Research & Development' in departments:
        return 'RD'
    elif 'Sales' in departments:
        return 'SL'
    else:
        return 'HR'
    
# Now is time to create our random numbers and add them to the TempID column
random_number = np.random.randint(1000, 9999, size=len(merged_hr_df))

# Join the two values together
new_data = merged_hr_df['Department'].apply(departments_code) + pd.Series(random_number).astype(str)

# Inserting the new ID column with the values created lately
merged_hr_df['ID'] = new_data

merged_hr_df.head()

,Year,ID,Age,AgeRange,Attrition,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,...,JobSatisfaction,MonthlyIncome,MonthlyRate,OverTime,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion
0,2021,SL9296,41,38 to 47,Yes,Sales,1,College,Life Sciences,Medium,...,Very High,5993,19479,Yes,8,0,Bad,6,4,0
1,2021,RD5450,49,48 to 57,No,Research & Development,8,Below College,Life Sciences,High,...,Medium,5130,24907,No,10,3,Better,10,7,1
2,2021,RD8988,37,28 to 37,Yes,Research & Development,2,College,Other,Very High,...,High,2090,2396,Yes,7,3,Better,0,0,0
3,2021,RD2748,33,28 to 37,No,Research & Development,3,Master,Life Sciences,Very High,...,High,2909,23159,Yes,8,3,Better,8,7,3
4,2021,RD7841,27,18 to 27,No,Research & Development,2,Below College,Medical,Low,...,Medium,3468,16632,No,6,3,Better,2,2,2

##### 3.1 Export our data into an Excel spreadsheet

<p>Now that I have all the data merged, it is time to export the database to an Excel workbook. I will also produce a.csv file just if is needed.</p>

In [5]:
# Exporting the data to an Excel spreadsheet
merged_hr_df.to_excel('merged_hr_data.xlsx', sheet_name='hr_analytics_2021', index=False)

# Exporting the data to a CSV file
merged_hr_df.to_csv('hranalytics_merged.csv', index=False)