# People Analytic Project - Colacho Company, Inc

## 1. Import Libraries

In [14]:
import pandas as pd
import numpy as np
import random
import string

## 2. Create the data frame

We are going to simulate a database composed be hundred employees

In [15]:
# Let's create a list with the names and other list with their surnames
names = [
    'John', 'Emily', 'Michael', 'Sarah', 'David', 'Jessica', 'Daniel', 'Olivia', 'Christopher', 'Sophia',
    'Matthew', 'Ava', 'Andrew', 'Emma', 'James', 'Isabella', 'Joseph', 'Mia', 'Anthony', 'Abigail',
    'Robert', 'Charlotte', 'William', 'Amelia', 'David', 'Evelyn', 'Alexander', 'Harper', 'Thomas', 'Grace',
    'Ethan', 'Chloe', 'Steven', 'Ella', 'Richard', 'Victoria', 'Ryan', 'Avery', 'Charles', 'Sofia',
    'Edward', 'Scarlett', 'George', 'Madison', 'Samuel', 'Lily', 'Jackson', 'Aria', 'Henry', 'Lillian',
    'Owen', 'Addison', 'Sebastian', 'Aubrey', 'Benjamin', 'Natalie', 'Nicholas', 'Zoey', 'Daniel', 'Hannah',
    'Aiden', 'Brooklyn', 'Adam', 'Stella', 'Dylan', 'Nora', 'Wyatt', 'Leah', 'Caleb', 'Audrey',
    'Nathan', 'Claire', 'Jayden', 'Ellie', 'Zachary', 'Savannah', 'Carter', 'Skylar', 'Luke', 'Riley',
    'Isaac', 'Aaliyah', 'Christian', 'Penelope', 'Liam', 'Camila', 'Julian', 'Ariana', 'Gabriel', 'Kennedy',
    'Levi', 'Maya', 'Jaxon', 'Gabriella', 'Aaron', 'Madelyn', 'Brayden', 'Elena', 'Oliver', 'Anna'
]

surnames = [
    'Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis', 'Miller', 'Wilson', 'Moore', 'Taylor',
    'Anderson', 'Thomas', 'Jackson', 'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez', 'Robinson',
    'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall', 'Allen', 'Young', 'Hernandez', 'King',
    'Wright', 'Lopez', 'Hill', 'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
    'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell', 'Parker', 'Evans', 'Edwards', 'Collins',
    'Stewart', 'Sanchez', 'Morris', 'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell', 'Murphy', 'Bailey',
    'Rivera', 'Cooper', 'Richardson', 'Cox', 'Howard', 'Ward', 'Torres', 'Peterson', 'Gray', 'Ramirez',
    'James', 'Watson', 'Brooks', 'Kelly', 'Sanders', 'Price', 'Bennett', 'Wood', 'Barnes', 'Ross',
    'Henderson', 'Coleman', 'Jenkins', 'Perry', 'Powell', 'Long', 'Patterson', 'Hughes', 'Flores', 'Washington',
    'Butler', 'Simmons', 'Foster', 'Gonzales', 'Bryant', 'Alexander', 'Russell', 'Griffin', 'Diaz', 'Hayes'
]

sex = [
    'male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female','male','female'
]


# Create our data frame
colacho_df = pd.DataFrame({
    'Name': names,
    'Surname': surnames,
    'Gender': sex
})

# Checking if everything is ok
print(colacho_df.head())

      Name   Surname  Gender
0     John     Smith    male
1    Emily   Johnson  female
2  Michael  Williams    male
3    Sarah     Jones  female
4    David     Brown    male

### 2.1 Create new columns

Now we are going to create new columns, age, position, and id

#### 2.1.a Age column

For this task, we are going to create a list with random values from 20 to 68, and then add the list to the database in the column "Age".

In [16]:
# Random values
age = np.random.randint(20, 68, size=100)
colacho_df['Age'] = age

# Checking if everything is OK
print(colacho_df.head(10))

          Name   Surname  Gender  Age
0         John     Smith    male   53
1        Emily   Johnson  female   44
2      Michael  Williams    male   60
3        Sarah     Jones  female   44
4        David     Brown    male   67
5      Jessica     Davis  female   61
6       Daniel    Miller    male   30
7       Olivia    Wilson  female   60
8  Christopher     Moore    male   32
9       Sophia    Taylor  female   61

#### 2.1.b Work Departments Column

Here we are going to create a random sequence of values from 1 to 5, and then we are going to replace those values with the department's names

In [17]:
# Random values to replace later
work_department = np.random.randint(1, 5, size=100)
colacho_df['WorkDepartment'] = work_department

# Its time to replace the values with the areas where people are from
department_map = {
    1: 'HHRR',
    2: 'Sales',
    3: 'Account',
    4: 'Marketing',
    5: 'Operations'
}

colacho_df['WorkDepartment'] = colacho_df['WorkDepartment'].map(department_map)

# Let's see if everthing is OK
print(colacho_df.head(10))

          Name   Surname  Gender  Age WorkDepartment
0         John     Smith    male   53           HHRR
1        Emily   Johnson  female   44      Marketing
2      Michael  Williams    male   60        Account
3        Sarah     Jones  female   44          Sales
4        David     Brown    male   67           HHRR
5      Jessica     Davis  female   61          Sales
6       Daniel    Miller    male   30        Account
7       Olivia    Wilson  female   60           HHRR
8  Christopher     Moore    male   32        Account
9       Sophia    Taylor  female   61      Marketing

#### 2.1.c ID column

For this column, we are going to create a random ID that will combine numbers with letters, we will use libraries random and string

In [20]:
# Let's create to function to get the Id
def generate_id():
    letters = string.ascii_letters.upper()
    numbers = string.digits
    random_letters = ''.join(random.choice(letters) for i in range(2))
    random_numbers = ''.join(random.choice(numbers) for i in range(4))
    return random_letters + random_numbers

# Our ID column with their random values
colacho_df['ID'] = colacho_df.apply(lambda row: generate_id(), axis=1)

# Checking if works fine
# print(colacho_df.head(10))
colacho_df

       Name    Surname  Gender  Age WorkDepartment      ID
0      John      Smith    male   53           HHRR  GX1598
1     Emily    Johnson  female   44      Marketing  IC7215
2   Michael   Williams    male   60        Account  OS3741
3     Sarah      Jones  female   44          Sales  XV5219
4     David      Brown    male   67           HHRR  FE5949
..      ...        ...     ...  ...            ...     ...
95  Madelyn  Alexander  female   28      Marketing  XW0927
96  Brayden    Russell    male   66           HHRR  GM6112
97    Elena    Griffin  female   42          Sales  GH4345
98   Oliver       Diaz    male   48      Marketing  YT8719
99     Anna      Hayes  female   35        Account  PW9369

[100 rows x 6 columns]