## Survival Analysis

#### Working with the Kaplan-Meier function

### 1. Import libraries

In [7]:
import pandas as pd
import numpy as np
from lifelines import KaplanMeierFitter

In [8]:
duration_in_months = np.random.randint(1, 19, size=51)
attrite = np.random.randint(0, 2, size=51)
increment = np.random.randint(0, 2, size=51)

print(duration_in_months, attrite, increment)

[17  6  5  6 13  7 11  5  4  8  4  2 14  4 17  2 12 14  7 17 14 15  4  2
  3  1  5 13 11 11  5  1  3 10  5  3 15  6 15 14  4  6 14  1 15  5  5  1
  9 17 15] [1 1 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 0 0 1 1 1 1 1 1 0 0 0 1 1 0 0 0 0 1 1 0
 1 1 0 1 0 1 0 0 1 1 1 1 0 1] [1 0 0 1 1 1 0 1 1 0 1 0 1 0 0 1 0 0 1 0 1 1 1 0 0 1 1 0 0 0 1 1 1 1 0 0 1
 0 1 1 0 0 1 0 1 1 1 1 1 0 1]

In [11]:
empsur = {
    'Duration_in_Months': duration_in_months,
    'Attrite': attrite,
    'Increment': increment
}

# Creating the dataframe
empsur_df = pd.DataFrame(empsur)
empsur_df.head(10)

   Duration_in_Months  Attrite  Increment
0                  17        1          1
1                   6        1          0
2                   5        1          0
3                   6        0          1
4                  13        0          1
5                   7        0          1
6                  11        1          0
7                   5        1          1
8                   4        0          1
9                   8        1          0

In [12]:
empsur_df.describe()

       Duration_in_Months    Attrite  Increment
count           51.000000  51.000000  51.000000
mean             8.294118   0.549020   0.568627
std              5.258495   0.502543   0.500196
min              1.000000   0.000000   0.000000
25%              4.000000   0.000000   0.000000
50%              6.000000   1.000000   1.000000
75%             14.000000   1.000000   1.000000
max             17.000000   1.000000   1.000000